* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: black;
}
.cube {
    display: block;
    position: relative;
    width:100px;
    height: 100px;
    /*transition:1s linear all;*/
    transform-style: preserve-3d;
    animation: rotate 0.6s linear running;
}
.plan {
    width:100px;
    height: 100px;
    /*opacity: 0.8;*/
    position: absolute;
}
.planFront{
    background: url('dice.png') no-repeat -100px -100px;
    background-size: 300px 400px;
    transform:translateZ(50px);
}
.planLeft{
    background: url('dice.png') no-repeat 0 -100px;
    background-size: 300px 400px;
    transform: rotateY(-90deg) translateZ(50px);
}
.planRight{
    background: url('dice.png') no-repeat -200px -100px;
    background-size: 300px 400px;
    transform: rotateY(90deg) translateZ(50px);
}
.planTop{
    background: url('dice.png') no-repeat -100px 0;
    background-size: 300px 400px;
    transform: rotateX(90deg) translateZ(50px);

}
.planBottom{
    background: url('dice.png') no-repeat -100px -200px;
    background-size: 300px 400px;
    transform: rotateX(-90deg) translateZ(50px);
}
.planBack{
    background: url('dice.png') no-repeat -100px -300px;
    background-size: 300px 400px;
    transform:rotateY(180deg) translateZ(50px);
}
input{
    display: none;
}
input:active~div {
    animation:none;
}
#d1:checked~div {
    transform:rotateX(90deg);
}
#d2:checked~div {
    transform:rotateY(90deg);
}
#d3:checked~div {
    transform:rotateX(-90deg);
}
#d4:checked~div {
    transform:rotateY(-90deg);
}
#d5:checked~div {
    transform:rotate(0);
}
#d6:checked~div {
    transform:rotateX(180deg);
}
@keyframes changeOrder {
    from {
        z-index:6;
    }
    to {
        z-index: 1;
    }
}
label {
    position: fixed;
    width:100vw;
    height:100vh;
    left:0;
    top:0;
    animation: changeOrder 3s infinite;
}
label:nth-of-type(1) { animation-delay: 0.0s;
    /*background: #27FB76;*/
}
label:nth-of-type(2) { animation-delay: 0.5s;
    /*background: red;*/
}
label:nth-of-type(3) { animation-delay: 1.0s;
    /*background: blue;*/
}
label:nth-of-type(4) { animation-delay: 1.5s;
    /*background: yellow;*/
}
label:nth-of-type(5) { animation-delay: 2.0s;
    /*background: orange;*/
}
label:nth-of-type(6) { animation-delay: 2.5s;
    /*background: bisque;*/
}

@keyframes rotate {
    20% {
        transform:rotateX(90deg);
    }
    40% {
        transform:rotateY(90deg) rotateZ(90deg);
    }
    60% {
        transform:rotateZ(90deg) rotateY(180deg);
    }
    80% {
        transform:rotateX(90deg) rotateX(45deg);
    }
    100% {
        transform:rotateX(90deg);
    }
}